# LAB | Hyperparameter Tuning

**Load the data**

Finally step in order to maximize the performance on your Spaceship Titanic model.

The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

So far we've been training and evaluating models with default values for hyperparameters.

Today we will perform the same feature engineering as before, and then compare the best working models you got so far, but now fine tuning it's hyperparameters.

In [2]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import r2_score, accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

from sklearn.model_selection import GridSearchCV

In [3]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

Now perform the same as before:
- Feature Scaling
- Feature Selection

In [4]:
spaceship = spaceship.dropna()
spaceship.Cabin = spaceship.Cabin.apply(lambda x: x[0])
spaceship = spaceship.drop(['PassengerId', 'Name'], axis=1)
spaceship.head()

# Establish 'features' and 'target'.
features = spaceship.drop('Transported', axis=1)
target = spaceship.Transported

# Perform the split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

# Initiate OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)

# Split training set into categorical and numerical
X_train_cat = X_train.select_dtypes(['object', 'bool'])
X_train_num = X_train.drop(X_train_cat, axis=1)

# Fit OneHotEncoder with the categorical data and transform it into numerical values
ohe.fit(X_train_cat)
X_train_trans_np = ohe.transform(X_train_cat)

# Create a dataframe using the transformed values and the original index
X_train_trans_df = pd.DataFrame(X_train_trans_np, columns=ohe.get_feature_names_out(), index=X_train.index)

# Concatenate the newly transformed train dataframe with the train numerical dataframe
df_train = pd.concat([X_train_trans_df, X_train_num], axis=1)
df_train.head()

# Split test set into categorical and numerical
X_test_cat = X_test.select_dtypes(['object', 'bool'])
X_test_num = X_test.drop(X_test_cat, axis=1)

# Transform the categorical data into numerical values
X_test_trans_np = ohe.transform(X_test_cat)

# Create a dataframe using the transformed values and the original index
X_test_trans_df = pd.DataFrame(X_test_trans_np, columns=ohe.get_feature_names_out(), index=X_test.index)

# Concatenate the newly transformed test dataframe with the test numerical dataframe
df_test = pd.concat([X_test_trans_df, X_test_num], axis=1)
df_test.head()

normalizer = StandardScaler()
normalizer.fit(df_train)

df_train_norm = normalizer.transform(df_train)
df_test_norm = normalizer.transform(df_test)

df_train_norm = pd.DataFrame(df_train_norm, columns = df_train.columns, index = df_train.index)
df_train_norm.head()

df_test_norm = pd.DataFrame(df_test_norm, columns = df_test.columns, index = df_test.index)
df_test_norm.head()

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,...,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
2453,-1.081675,-0.583761,1.959293,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,-0.328263,-1.476894,0.163149,-0.163149,1.458040,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
1334,0.924492,-0.583761,-0.510388,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,3.046335,-1.476894,0.163149,-0.163149,-0.742005,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
8272,0.924492,-0.583761,-0.510388,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,-0.328263,-1.476894,0.163149,-0.163149,-0.948260,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
5090,0.924492,-0.583761,-0.510388,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,3.046335,-1.476894,0.163149,-0.163149,1.595543,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
4357,-1.081675,1.713031,-0.510388,0.738567,-0.738567,-0.183429,3.096640,-0.31319,-0.248362,-0.338427,...,-0.328263,0.677097,-6.129384,6.129384,2.283058,-0.347046,0.678012,-0.305892,1.228811,-0.271123

- Now let's use the best model we got so far in order to see how it can improve when we fine tune it's hyperparameters.

In [5]:
gb_reg = GradientBoostingClassifier(max_depth=20,
                                   n_estimators=100)

gb_reg.fit(df_train, y_train)

pred = gb_reg.predict(df_test)

- Evaluate your model

In [6]:
print("Accuracy:", accuracy_score(y_test, pred))
print("Precision:", precision_score(y_test, pred))
print("Recall:", recall_score(y_test, pred))

Accuracy: 0.7806354009077155
Precision: 0.7676767676767676
Recall: 0.8048411497730711

**Grid/Random Search**

For this lab we will use Grid Search.

- Define hyperparameters to fine tune.

In [12]:
# Define the parameter grid for GridSearchCV
param_grid = {
    'n_estimators': [20, 40, 100],
    'max_depth': [5, 8, 11],
    'min_samples_leaf': [1, 2, 4]
}

# Initialize the GradientBoostingRegressor
gb_reg = GradientBoostingClassifier()

# Initialize GridSearchCV with the GradientBoostingRegressor
grid_search = GridSearchCV(estimator=gb_reg, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=-1)

# Fit GridSearchCV to the data
grid_search.fit(df_train, y_train)

# Get the best estimator
best_gb = grid_search.best_estimator_

- Run Grid Search

In [13]:
# Make predictions with the best estimator
pred = best_gb.predict(df_test)

- Evaluate your model

In [14]:
# Print the best parameters
print("Best parameters found: ", grid_search.best_params_)

# Evaluate the model
print(f'Accuracy: {accuracy_score(y_test, pred):.2f}')
print(f'Precision: {precision_score(y_test, pred):.2f}')
print(f'Recall: {recall_score(y_test, pred):.2f}')
print(f'F1 Score: {f1_score(y_test, pred):.2f}')
print(f'Confusion Matrix:\n{confusion_matrix(y_test, pred)}')

Best parameters found:  {'max_depth': 5, 'min_samples_leaf': 1, 'n_estimators': 100}
Accuracy: 0.79
Precision: 0.77
Recall: 0.81
F1 Score: 0.79
Confusion Matrix:
[[506 155]
 [128 533]]